/* -----------------------------------------------    MAIN STYLE   -------------------------------------------------- */

html {
	width: 100%;
}

body
{	
	width: 100%;
	line-height: 135%;
	font-family: "Proxima Nova", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	color: rgba(9,85,143,0.88) !important;
}


/* ------------------------------------------------------ General ------------------------------------------------------ */
.margin0 {
	margin:0;
}
.margin_left_10 {
	margin-left: 10px;
}
.margin_right_10 {
	margin-right: 10px;
}
.margin_top_10 {
	margin-top: 10px;
}
.margin_bottom_10 {
	margin-bottom: 10px;
}
.margin_right_30 {
	margin-right: 30px;
}
.margin_top_30 {
	margin-top: 30px;
}
.padding0 {
	padding: 0;
}
.padding5 {
	padding: 5px;
}
.padding10 {
	padding: 10px;
}
.padding50 {
	padding: 50px;
}
img {
	width: 100%;
}

h1
{
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: 300;
	color: rgba(9,85,143,0.88) !important;
}

@media (min-width: 1400px) {
	h1 {
		font-size: 3.7em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h1 {
		font-size: 2.9em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 2.2em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h1 {
		font-size: 2em;
	}
}
@media (max-width: 477px) {
	h1 {
		font-size: 3em;
	}
}

h2
{	
	text-align: center;
	font-weight: 200;
	color: rgba(9,85,143,0.88);
}
@media (min-width: 1400px) {
	h2 {
		font-size: 3em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h2 {
		font-size: 2.4em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h2 {
		font-size: 2em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h2 {
		font-size: 1.5em;
	}
}
@media (max-width: 477px) {
	h2 {
		font-size: 1.9em;
	}
}

h3
{
	padding: 0;
	margin: 0;
	font-weight: 600 !important;
	text-align: center;	
	color: rgba(197,214,46,0.88);
}
@media (min-width: 1400px) {
	h3 {
		font-size: 2.5em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h3 {
		font-size: 2em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h3 {
		font-size: 1.7em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h3 {
		font-size: 1.4em;
	}
}
@media (max-width: 477px) {
	h3 {
		font-size: 1.5em;
	}
}

h4
{
	color: white;
	font-weight: 200;
	text-align: center;
}
@media (min-width: 1400px) {
	h4 {
		font-size: 1.5em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h4 {
		font-size: 1.3em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h4 {
		font-size: 1.2em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h4 {
		font-size: 1.1em;
	}
}
@media (max-width: 477px) {
	h4 {
		font-size: 1.3em;
	}
}

h5 {
	color: rgba(9,85,143,0.88);
	font-weight: 300;
}
@media (min-width: 1400px) {
	h5 {
		font-size: 1.2em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h5 {
		font-size: 1.1em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h5 {
		font-size: 1em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h5 {
		font-size: 1em;
	}
}
@media (max-width: 477px) {
	h5 {
		font-size: 1.2em;
	}
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.float-right {
	float: right;
}
.float-center {
	float: center;
}
.float-left {
	float: left;
}
.bold {
	font-weight: 800;
}
.font1em {
	font-size: 1em;
}
.font10 {
	font-size: 10px;
}
.font12 {
	font-size: 12px;
}
.font14 {
	font-size: 14px;
}
.font16 {
	font-size: 16px;
}
.font18 {
	font-size: 18px;
}
.font20 {
	font-size: 20px;
}
.paragraph {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.italic {
	font-style: italic;
}
.uppercase {
	text-transform : uppercase;
}

/*ul, ol, li {
	font-size: 1em !important;
}
*/
ul {
	list-style-type: circle;
}
ul ul {
	list-style-type: square;
}
.list_no_style_li {
	list-style-type: none;
}
.inline_li li {
	display: inline;
}
a, a:focus {
	color: inherit;
	text-decoration: none;
}
button, button:focus {
	color: inherit;
	text-decoration: none;	
}
a:hover {
	color: inherit;
	text-decoration: underline;
}
.no_style_a, .no_style_a:focus {
	text-decoration: none;
	font-style: normal;
}
.no_style_a:hover {
	color: inherit;
	text-decoration: none;
	font-style: normal;
}
.no_style_button, .no_style_button:focus {
	border: none;
	background-color: transparent;
	box-shadow: none;
}
.btn:focus {
	color: inherit;
	text-decoration: none;
	box-shadow: none;
}
p {	
	color: inherit;
	margin: 10px 5px ;
	text-align: left;
	line-height: 150%;
}
@media (min-width: 1400px) {
	p, .thumbnail, .modal-content {
		font-size: 16px;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	p, .thumbnail, .modal-content {
		font-size: 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	p, .thumbnail, .modal-content {
		font-size: 14px;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	p, .thumbnail, .modal-content {
		font-size: 13px;
	}
}
@media (max-width: 477px) {
	p, .thumbnail, .modal-content {
		font-size: 14px;
	}
}

.thumbnail {
	background-color: rgba(250,250,250,0.75) !important;
}

strong {
	font-weight: 700;
}
.row {
	width: 100%;
	margin: 0;
}
.row92 {
	width: 92%;
	margin-left: 4%;
	margin-top: 0;
	margin-bottom: 0;	
}
.row80 {
	width: 80%;
	margin-left: 10%;
	margin-top: 0;
	margin-bottom: 0;
}
.row60 {
	width: 60%;
	margin-left: 20%;
	margin-top: 0;
	margin-bottom: 0;
}
@media (max-width: 767px) {
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		padding: 2px;
		margin: 0;
	}
}
.inline_div {
	display: inline-block;
}
.block_div {
	display: block;
}
.opacity0 {
	opacity: 0;
}
.opacity05 {
	opacity: 0.5;
}
.opacity1 {
	opacity: 1;
}
.cursor_default {
	cursor: default !important;
}

textarea {
	resize: vertical;
}

.white {
	color: white !important;
}
.grey {
	color: rgba(100,100,100,0.88) !important;	
}

hr {
	color: white;
	background-color: transparent;
	margin: 5px 0 !important;
	height: 1px;
}
.hr60 {
	width: 60%;
	margin-left: 20% !important;
}
.dark_hr {
	box-shadow: none;
	border: none;
	color: rgba(9,85,143,1);
	background-color: rgba(9,85,143,1) !important;
}
.medium_hr {
	box-shadow: none;
	border: none;
	color: rgba(9,85,143,0.2);
	background-color: rgba(9,85,143,0.2) !important;
}

/* ------------------------------------------------------ Header ------------------------------------------------------ */
#header {
	position: fixed;
	left: 0 !important;
	z-index: 50;
	color: rgba(9,85,143,0.88);
	padding: 0 !important;
	width: 170px;
}

.header_mobile {
	width: 100% !important;
}

@media (min-width: 1400px) {
	#header {
		font-size: 1em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	#header {
		font-size: 1em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#header {
		font-size: 1em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	#header {
		font-size: 1.1em;
	}
}
@media (max-width: 477px) {
	#header {
		font-size: 1.1em;
		top : 0 !important;
		width: 100% !important;
	}
}

#header ul#menu {
	text-align: left ;
	margin: 0 !important;
	padding: 0 !important;
}
#header ul#menu li {
	background-color: transparent !important;
	margin: 0 !important;
	padding: 0 !important;
  	height: 40px !important;
  	margin-top: -1px !important;
}
#header ul#menu > li > a {
  	border: 0px solid transparent !important;
  	border-radius: 0 !important;
  	background-color: transparent !important;
  	margin: 0 !important;
  	padding: 0 !important;
}
#header ul#menu > li > a > span.glyphicon_header {
	z-index: 1 !important;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(9,85,143,0.88);
	overflow: hidden;
	margin: 0 !important;
}
#header ul#menu > li > a > span.text_header {
	z-index: -1 !important;
	width: 120px !important;
	height: 40px;
	border: 1px solid rgba(9,85,143,0.88);
	position: relative;
	right: 160px;
	margin: 0 !important;
	
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}
#header ul#menu > li > a > span.glyphicon_header,
#header ul#menu > li > a > span.text_header {
	background-color: rgba(250,250,250,0.88);
	padding: 10px;
	margin: 0 !important;
}
#header ul#menu > li > a > span.text_header {
	margin-right: -4px !important;
}
#header ul#menu > li > a:hover > span.glyphicon_header, 
#header ul#menu > li > a:hover > span.text_header,
#header ul#menu > li > a:focus > span.glyphicon_header, 
#header ul#menu > li > a:focus > span.text_header,
#header ul#menu > li > a.active > span.glyphicon_header, 
#header ul#menu > li > a.active > span.text_header,
#header ul#menu > li > a:active > span.glyphicon_header, 
#header ul#menu > li > a:active > span.text_header
{
  	background-color: rgba(9,85,143,0.62) !important;
  	color: rgba(250,250,250,0.88);
  	cursor: pointer;
  	outline: none;
}
@-webkit-keyframes validate_click {
	from {	-webkit-transform: translateX(0px);	}
    50%  {	-webkit-transform: translateX(10px);	}
    to   {	-webkit-transform: translateX(0px);	}
} 
@-moz-keyframes validate_click {
	from {	-moz-transform: translateX(0px);	}
    50%  {	-moz-transform: translateX(10px);	}
    to   {	-moz-transform: translateX(0px);	}
} 
@-ms-keyframes validate_click {
	from {	-ms-transform: translateX(0px);	}
    50%  {	-ms-transform: translateX(10px);	}
    to   {	-ms-transform: translateX(0px);	}
} 
@-o-keyframes validate_click {
	from {	-o-transform: translateX(0px);	}
    50%  {	-o-transform: translateX(10px);	}
    to   {	-o-transform: translateX(0px);	}
}
@keyframes validate_click{
    from {	transform: translateX(0px);	}
    50%  {	transform: translateX(10px);	}
    to   {	transform: translateX(0px);	}
}
#header ul#menu > li.header_active a > span.text_header {
	-webkit-animation: validate_click 1s ease;
	-moz-animation: validate_click 1s ease;
	-ms-animation: validate_click 1s ease;
	-o-animation: validate_click 1s ease;
    animation: validate_click 1s ease;

    -webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
#header ul#menu > li > a:hover .text_header {
	right : 0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

#header ul#menu > li.header_active a > span.glyphicon_header, 
#header ul#menu > li.header_active a > span.text_header {
	background-color: rgba(9,85,143,0.88) !important;
	color: rgba(250,250,250,0.88);
}

/* Top menu in intro */
#language_menu {
	padding: 0;
	margin: 0;
	margin-bottom: 10px !important;
}
.language_box {
	margin: 0 !important;
	background-color: rgba(250,250,250,0.88);
	padding: 4px;
}
@media (min-width: 901px) {
	.language_box {
		width: 36px;
	}
	.language_flag {
	  width: 24px;
	}
}
@media (min-width: 478px) and (max-width: 900px) {
	.language_box {
		width: 30px;
	}
	.language_flag {
	  width: 18px;
	}
}
@media (max-width: 477px) {
	.language_flag {
	  width: 30px;
	}
}

.language_selection {
	display: block !important;
	margin: 5px 2px;
	opacity: 0.4;
}
.language_selection:hover {
	opacity: 1;
}
.language_selection, .language_selection:hover {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}
.language_active {
	opacity: 1;
}
.language_box_mobile {
	text-align: center;
	margin-top: 5px;
}
.language_box_mobile .language_selection {
	display: inline-block !important;
	margin-left: 30px;
}

#social_media {	
	position:fixed;
	background: rgba(250,250,250,0.88);
	border: none;
	border-radius: 0 ;
	z-index:50;
	text-align: center;
	opacity: 0.78;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}
#social_media:hover {
	opacity: 1;
}
@media (min-width: 1400px) {
	#social_media {	
		left: 20px;
		bottom: 20px;
		padding: 10px;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	#social_media {	
		left: 10px;
		bottom: 10px;
		padding: 5px;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	#social_media {	
		left: 5px;
		bottom: 5px;
		padding: 2px;
	}
}

.close_fb_button {
	margin: 3px;
}

#button_to_top {
	font-size: 1em;
	position: fixed;
	z-index: 999;
}
#button_to_top button {
	border-radius: 0 !important;
	text-align: center !important;
	background-color: rgba(9,85,143,0.95);
}
.btn-to-top {
	border: 2px solid transparent;
}
.btn-to-top:hover {
	color: rgba(9,85,143,1);
	border: 2px solid white;
}
.btn_up_arrow, .btn_arrow {
	position: relative;
	top: -2px;
	z-index: 5;
}
@media (min-width: 1400px) {
	#button_to_top {
		bottom: 50px;
		right: 50px;
		width: 50px;
		height: 50px;
	}
	#button_to_top button {
		width: 50px;
		height: 50px;
	}
	.btn-to-top {
		margin-left: 10px;
		margin-right: 10px;
	}
	.btn_up_arrow, .btn_arrow {
		width: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	#button_to_top {
		bottom: 45px;
		right: 45px;
		width: 45px;
		height: 45px;
	}
	#button_to_top button {
		width: 45px;
		height: 45px;	
	}
	.btn-to-top {
		margin-left: 8px;
		margin-right: 8px;
	}
	.btn_up_arrow, .btn_arrow {
		width: 17px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#button_to_top {
		bottom: 40px;
		right: 40px;
		width: 40px;
		height: 40px;
	}
	#button_to_top button {
		width: 40px;
		height: 40px;	
	}
	.btn-to-top {
		margin-left: 6px;
		margin-right: 6px;
	}
	.btn_up_arrow, .btn_arrow {
		width: 14px;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	#button_to_top {
		bottom: 30px;
		right: 30px;
		width: 30px;
		height: 30px;
	}
	#button_to_top button {
		width: 30px;
		height: 30px;	
	}
	.btn-to-top {
		margin-left: 5px;
		margin-right: 5px;
	}
	.btn_up_arrow, .btn_arrow {
		width: 10px;
	}
}


/* -----------------------------------------------    Content   -------------------------------------------------- */

.page-container {
	width: 100%;
	background-color:  transparent !important;/*#f1f1f1;*/
	color: black !important;
	z-index: 0 !important;
}

.section {
	margin: 0;
	z-index: 2 !important;
}
@media (min-width: 1400px) {
	.section {
		border-bottom: 1px solid rgba(9,85,143,1);
		padding: 50px !important;
		padding-top: 0px !important;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.section {
		border-bottom: 1px solid rgba(9,85,143,1);
		padding: 30px !important;
		padding-top: 0px !important;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	.section {
		border-bottom: 1px solid rgba(9,85,143,1);
		padding: 10px !important;
		padding-top: 60px !important;
	}
}
@media (max-width: 477px) {
	.section {
		padding: 10px !important;
		padding-top: 60px !important;
	}
}

.section-footer {
	padding: 0 !important;
}

.inner-section {
	z-index: 1 !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	/*background-color: rgba(250,250,250,0.1) !important;*/
}
@media (min-width: 1400px) {
	.inner-section {
		padding: 50px !important;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.inner-section {
		padding: 30px !important;
	}
}
@media (min-width: 478px) and (max-width: 993px){
	.inner-section {
		padding: 10px !important;
	}
}
@media (max-width: 477px){
	.inner-section {
		padding: 5px !important;
	}
}


#sessionFlash {
	position: absolute;
	bottom : 10px;
	text-align: center;
	margin: auto;
	display: none;
	z-index: 99999;
}
.alert {
	padding: 4px 10px;
	padding-right: 30px;

	border: 1px solid rgba(9,85,143,1);
}

.div_logo_welcome {
	position: absolute;
	bottom: 0 !important;
	left: 40%;
	width: 20%;
	min-width: 100px !important;

	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	-ms-transition: 0.7s;
	transition: 0.7s;
}
#logo_welcome {
	width: 100%;
	padding: 0;
	min-width: 100px !important;
	opacity: 0.88;
	border-radius: 50% 50% 0 0 !important;
}

.navbar {
	padding: 0 !important;
	margin: 0 !important;
	border-radius: 0 !important;
}
.navbar-collapse, .navbar-header {
	border-radius: 0 !important;
	color: white !important;
	background-color: rgba(9,85,143,1) !important; 
}
.navbar-nav, .navbar-toggle {
	border-radius: 0 !important;
}
.navbar-toggle:focus, .navbar-toggle:active {
	background-color: transparent !important;
}
.li_mobile {
	border-radius: 0 !important;
	font-size: 1.8em !important;
	text-transform: uppercase !important;
	color: white !important;
	box-shadow: none;
	text-shadow: none;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	background-color: rgba(9,85,143,1) !important; 
}
.li_mobile a {
	color: white !important;
	text-decoration: none;	
	background-color: transparent !important;
}
.li_mobile:hover {
	color: white !important;
	background-color: rgba(9,85,143,1) !important;
}
.navbar-collapse li.open {
	color: white !important;
	background-color: transparent !important;
}
.border_bottom_white {
	border-bottom: 1px solid white;
}
.li_mobile_help {
	background-color: rgba(245,144,20,0.95) !important;
}
.li_mobile_help:hover {
	background-color: rgba(245,144,20,1) !important;
}
.li_mobile.open, .li_mobile.open a {
	background-color: transparent !important;
}
.dropdown-menu li {
	text-align: center;
	font-size: 0.9em;
	font-style: italic;
}
.li_mobile.open .dropdown-menu li:hover, .li_mobile.open .dropdown-menu li:hover a {
	background-color: rgba(9,85,143,1) !important;
	color: white !important;
}
.li_mobile .navbar-nav > .active > a, .li_mobile .navbar-nav > .open > a {
	background-color: transparent !important;
}
.navbar-brand {
	z-index: 10100 !important ;
}
#div_logo_welcome_xs {
	width: 26%;
	max-width: 140px;
	position: absolute;
	top: -1px;
	left : -1px;
	z-index: 10100 !important ;
}
#logo_welcome_xs {
	width: 100%;
	border-radius: 0 0 50% 0;
}

.scroll-icons {
	width: 30px;
	height: 30px;
	margin: 0 6px;
}
.scroll-icons-spe {
	width: 20px;
	height: 20px;
	margin: 0 3px;
	text-align: right;
}

@-webkit-keyframes mov_right {
	from {	-webkit-transform: translateX(0px);	}
    50%  {	-webkit-transform: translateX(5px);	}
    to   {	-webkit-transform: translateX(0px);	}
} 
@-moz-keyframes mov_right {
	from {	-moz-transform: translateX(0px);	}
    50%  {	-moz-transform: translateX(5px);	}
    to   {	-moz-transform: translateX(0px);	}
} 
@-ms-keyframes mov_right {
	from {	-ms-transform: translateX(0px);	}
    50%  {	-ms-transform: translateX(5px);	}
    to   {	-ms-transform: translateX(0px);	}
} 
@-o-keyframes mov_right {
	from {	-o-transform: translateX(0px);	}
    50%  {	-o-transform: translateX(5px);	}
    to   {	-o-transform: translateX(0px);	}
}
@keyframes mov_right{
    from {	transform: translateX(0px);	}
    50%  {	transform: translateX(5px);	}
    to   {	transform: translateX(0px);	}
}
.show_photo_bg span {
	-webkit-animation: mov_right 1s ease infinite;
	-moz-animation: mov_right 1s ease infinite;
	-ms-animation: mov_right 1s ease infinite;
	-o-animation: mov_right 1s ease infinite;
    animation: mov_right 1s ease infinite;
}

@-webkit-keyframes mov_left {
	from {	-webkit-transform: translateX(0px);	}
    50%  {	-webkit-transform: translateX(-5px);	}
    to   {	-webkit-transform: translateX(0px);	}
} 
@-moz-keyframes mov_left {
	from {	-moz-transform: translateX(0px);	}
    50%  {	-moz-transform: translateX(-5px);	}
    to   {	-moz-transform: translateX(0px);	}
} 
@-ms-keyframes mov_left {
	from {	-ms-transform: translateX(0px);	}
    50%  {	-ms-transform: translateX(-5px);	}
    to   {	-ms-transform: translateX(0px);	}
} 
@-o-keyframes mov_left {
	from {	-o-transform: translateX(0px);	}
    50%  {	-o-transform: translateX(-5px);	}
    to   {	-o-transform: translateX(0px);	}
}
@keyframes mov_left{
    from {	transform: translateX(0px);	}
    50%  {	transform: translateX(-5px);	}
    to   {	transform: translateX(0px);	}
}
.unshow_photo_bg span {
	-webkit-animation: mov_left 1s ease infinite;
	-moz-animation: mov_left 1s ease infinite;
	-ms-animation: mov_left 1s ease infinite;
	-o-animation: mov_left 1s ease infinite;
    animation: mov_left 1s ease infinite;
}

.bg_frame {
	z-index: 5 !important;
	background-color: rgba(250,250,250,0.88);

	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	-ms-transition: 0.7s;
	transition: 0.7s;
}
@media (min-width: 1400px) {
	.bg_frame {
		padding: 50px; 
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.bg_frame {
		padding: 30px; 
	}
}
@media (min-width: 478px) and (max-width: 993px){
	.bg_frame {
		padding: 10px; 
	}
}
@media (max-width: 477px){
	.bg_frame {
		padding: 15px; 
	}
}

.unshow_photo_bg span {
	z-index: 30 !important;
}
.unshow_photo_bg {
	color: rgba(100,100,100,0.68);
	background-color: rgba(250,250,250,0.88);
	box-shadow: none;
	cursor: pointer;
	text-align: center;
	padding: 7px;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}
.unshow_photo_bg:hover {
	cursor: pointer;
	color: rgba(100,100,100,0.88);
}
.show_photo_bg{
	cursor: pointer;
	color: rgba(100,100,100,0.68);
}
.show_photo_bg:hover {
	cursor: pointer;
	color: rgba(100,100,100,0.88);
}

.project_case_parent {
	margin-bottom: 20px;
	overflow: hidden !important;
	z-index: 8 !important;
}
.project_case_parent:hover {
	cursor: pointer;
}
.project_case_parent:hover .over_div_stories {
	display: block;
	background-color: rgba(50,50,50,0.6);
	top : -50px;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}
.over_div_stories {
	text-align: center;
	height: 0px;
	position: relative;
	top : 10px;
	z-index: 10 !important;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}
.over_div_stories .btn-perso {
	margin-top: 25px;
}
.project_case {
	padding: 0 !important;
}
.project_case_inner {
	margin: 0 !important;
	padding: 10px;
}
.project_case_parent:hover .project_case_inner {
	background-color: rgba(50,50,50,0.5);
}

.btn-perso, .btn-perso:focus {
	outline:none;
	margin: 1px !important;
	background-color: rgba(250,250,250,0.88);
	color: rgba(9,85,143,0.88);
	border-radius: 0;
	border: none;
	box-shadow: none;
}
.btn-perso:hover, .btn-perso-active {
	background-color: rgba(9,85,143,0.88);
	color: white;
	border: none;
	box-shadow: none;
}
@media (min-width: 1400px) {
	.btn-perso {
		padding: 5px 9px; 
		font-size: 1em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.btn-perso {
		padding: 4px 7px; 
		font-size: 1em;
	}
}
@media (min-width: 478px) and (max-width: 993px){
	.btn-perso {
		padding: 3px 5px; 
		font-size: 1em;
	}
}

.modal, .modal-dialog, .modal-body, .modal-content {
	z-index: 40 !important;
}
.modal_for_photo, .modal_for_photo .modal-dialog, .modal_for_photo .modal-body, .modal_for_photo .modal-content {
	border: none !important;
}
@media (max-width: 478px){
	.modal_for_photo .modal-dialog {
		margin-top: 60px !important; 
	}
}
.modal_for_photo .modal-body {
	background-color: #f7f7f7 !important;
}
.carousel_photo {
	width: 100%;
	border: 3px solid rgba(9,85,143,0.88);
}


/* ------------------------------------------------------ Admin - Login ------------------------------------------------------ */

.remember_me_box {
	margin-left: 42%;
}

.nav_tabs_user {
	text-align: center;
}
.nav_tabs_user li {
	margin-bottom: 10px;
	display: inline-block;
	width: 8%;
}
.btn-choice-admin {
	border-radius: 0;
	width: 100%;
	background-color: transparent;
	border: 1px solid rgba(9,85,143,0.88);
	padding: 2px 5px ;
	color: rgba(9,85,143,0.88);
}
.btn-choice-admin:hover {
	background-color: rgba(9,85,143,0.3);
	color: white;
}
.nav_tabs_user li.active {
	background-color: rgba(9,85,143,0.6);
	box-shadow: none;
	color: white;
}
.logout-btn-admin:hover {
	background-color: rgba(200,79,86,0.6) !important;
}

.thumbnail_page, .thumbnail_story {
	padding: 10px;
	border-radius: 0 !important;
}
.list_stories, .list_pages {
	margin: 0;
	margin-left: 10px;
	padding: 0;
}
.list_stories li, .list_pages li {
	color: rgba(12,28,57,1) !important;
	margin-top: 5px;
	margin-bottom: 8px;
	padding: 3px;
}
.list_stories li:hover, .list_pages li:hover {
	border-bottom: 1px solid rgba(22,54,110,0.2);
	/*background-color: rgba(22,54,110,0.1);*/
}
.list_stories li:hover .arrow_story img, .list_pages li:hover .arrow_page img {
	opacity: 0.5;
}
.li_story_active, .li_page_active {
	border-bottom: 1px solid rgba(22,54,110,0.5);
	/*background-color: rgba(22,54,110,0.1);*/
}
.li_story_active a, .li_page_active a {
	font-weight: 900 !important;
}
.li_story_active .arrow_story img, .li_page_active .arrow_page img {
	opacity: 1;
}
.date_story, .date_page {
	font-size: 0.6em;
	color: rgba(150,150,150,0.8);
	font-style: italic;
}
.date_story_lg, .date_page_lg {
	margin-top: 20px;
	font-size: 1em;
	color: rgba(50,50,50,0.8);
	font-style: italic;	
}
.top_info_modal_story, .top_info_modal_page {
	font-size: 1em;
	color: rgba(150,150,150,0.8);
	font-style: italic;		
}
.arrow_story, .arrow_page {
	margin-left: 5px;
}
.arrow_story img, .arrow_page img {
	width: 20px;
	opacity: 0;
}

.btn-delete-admin {
	border-radius: 0;
	background-color: transparent;
	border: none;
	padding: 5px ;
	margin-left: 10px;	
	opacity: 0;
}
.photo_admin_container:hover .btn-delete-admin {
	opacity: 0.5;
}
.btn-delete-admin:hover {
	opacity: 1 !important;
}

/* ------------------------------------------------------ Footer ------------------------------------------------------ */

.inner-section-footer {
	background-color: rgba(9,85,143,0.88);
	z-index: 1 !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;

	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	transition: 1s;
}
@media (max-width: 991px){
	.inner-section-footer {
		padding-top: 60px !important; 
	}
}

.bg_frame_footer {
	z-index: 5 !important;
	background-color: rgba(250,250,250,0.88);

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.btn-footer, .btn-footer:focus {
	outline:none;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0;
	color: rgba(9,85,143,0.88);
	padding: 5px 8px;
}
.btn-footer:hover {
	outline:none;
	background-color: rgba(9,85,143,0.88);
	color: white;
	border: 1px solid transparent;
	box-shadow: none;
}
@media (min-width: 1400px) {
	.btn-footer {
		font-size: 1.4em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.btn-footer {
		font-size: 1.2em;
	}
}
@media (min-width: 478px) and (max-width: 993px){
	.btn-footer {
		font-size: 1em;
	}
}
@media (max-width: 477px){
	.btn-footer {
		font-size: 1.2em;
	}
}

.footer_copyright {
	z-index: 1 !important;
	text-align: center;
	color: white !important;
}
@media (max-width: 993px) {
	.footer_copyright {
		position: static!important;
		bottom:  0 !important;
	}
}